@charset "UTF-8"; 

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121214;
    overflow-x: hidden;
}

header {
    background: #17171A;
    width: 100vw;
    height: 208px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header > h1 {
    color: orange;
    text-align: center;
    font-size: 1.3em;

    padding: 0px 0px 20px 0px;
}

header > h1 > span {
    color: white;
}

span.material-icons {
    color: #E07B67;
}

header > form > input[type=text] {
    background-color: #252529;
    padding: 10px;
    border-radius: 5px;
    width: 90vw;
    border: none;
    color: white;
}

form > input::placeholder {
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    background-color: #121214;
    padding: 30px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

div.quadrado {
    width: 80vw;
    height: 400px;
    margin: 40px;
    padding: 10px;
    border: 1px solid #E07B67;
    border-radius: 10px;
}

div#topo {
    color: #E07B67;
    margin: 30px;
    font-size: 0.7em;

    display: flex;
    align-items: baseline; /* Alinha os itens na mesma linha de base */
    justify-content: space-between;
    cursor: pointer;
}

section > div.quadrado > h2 {
    font-size: 1.5em;
    color: white;
    margin: 30px;
}

section > div.quadrado > p {
    color: #9b9ba2;
    margin: 30px;
    font-size: 1.2em;
}
